.search {
	background-color: #FFE600;
	padding: 8px 0 6px;

	input {
	    border: 0;
	    border-radius: 4px 0 0 4px;
	    display: inline-block;
		height: 36px;
	    margin: 0 0 0 24px;
	    padding: 0 12px;
	    vertical-align: top;
	    width: 80%;

	    &:active,
	    &:focus {
	    	border: 0;
	    	outline: 0;
	    }
	}

	.btn-search {
	    background-color: #eee;
		border-radius: 0 4px 4px 0;
		cursor: pointer;
		display: inline-block;
	    height: 36px;
	    position: relative;
	    vertical-align: top;
	    width: 42px;

	    img {
	    	left: 50%;
	    	position: absolute;
	    	top: 50%;
	    	transform: translate(-50%,-50%);
	    }
	}
}
